<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mybrary</title>
</head>
<body>

  <br>
  <%- include('../partials/header.ejs') %> <!-- include header links on each page -->
  <%- include('../partials/errorMessage.ejs') %> <!-- include error msg partial on each page -->
  <%- body %> <!-- everything from layout will be imported into each view -->
  <br>


</body>
</html>