<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/stylesheets/filepond.css" rel="stylesheet">
  <link href="/stylesheets/filepond-plugin-image-preview.css" rel="stylesheet">
  <title>Mybrary</title>
</head>
<body>
  <%- include('../partials/header.ejs') %> <!-- include header links on each page -->
  <%- include('../partials/errorMessage.ejs') %> <!-- include error msg partial on each page -->
  <%- body %>  <!-- everything from layout will be imported into each view -->
</body>
<script src="/javascripts/filepond-plugin-image-preview.js"></script>
<script src="/javascripts/filepond-plugin-file-encode.js"></script>
<script src="/javascripts/filepond-plugin-image-resize.js"></script>
<script src="/javascripts/filepond.js"></script>
<script src="/javascripts/fileUpload.js"></script>
</html>