<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mybrary</title>
</head>
<body>
  Before
  <br>
  <%- body %> <!-- everything from layout will be imported into each view -->
  <br>
  After

</body>
</html>